<table width="100%%">
            <tr class="item" id="37145405">
                <td width="100" valign="top">
        <a class="nbg" href="https://music.douban.com/subject/37145405/" onclick="moreurl(this,{i:'18',query:'',subject_id:'37145405',from:'music_subject_search'})" title="Yo La Tengo - Old Joy (Official Soundtrack)">
            <img src="https://img9.doubanio.com/view/subject/s/public/s35026594.jpg" alt="Yo La Tengo - Old Joy (Official Soundtrack)" style="width: 80px; max-height: 120px;">
        </a>
        </td>
        <td valign="top">
        <div class="pl2">
        <a href="https://music.douban.com/subject/37145405/" onclick="moreurl(this,{i:'18',query:'',subject_id:'37145405',from:'music_subject_search'})">
            Old Joy (Official Soundtrack)
       </a>
            <p class="pl">Yo La Tengo / 2025-02-28 / 专辑 / 黑胶 / 原声</p>
                <span class="pl">
                    (
                            目前无人评价
                    )
                </span></div>
        </td>
        </tr>
        </table>
















<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
  豆瓣音乐标签: OST
</title>
    
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <script >var _head_start = new Date();</script>
    <script src="https://img1.doubanio.com/f/vendors/0511abe9863c2ea7084efa7e24d1d86c5b3974f1/js/jquery-1.10.2.min.js"></script>
    <script src="https://img1.doubanio.com/f/vendors/bdcc3c1ecb6de06ac99661953f4731c39e72af7f/js/douban.js"></script>
    <script src="https://img1.doubanio.com/f/vendors/43c21c5607ffe86759538789a60360c06532b4bf/js/do.js" data-cfg-autoload="false"></script>
    <link href="https://img1.doubanio.com/f/vendors/e92483e5e4c9c60cc75cbd8b700a2fd5b5fdf7b0/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/cuphead/music-static/css/init.3670a.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        
    </style>
    
    <!-- COLLECTED CSS -->
    <script></script>

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>
    
   



    <link href="//img3.doubanio.com/dae/accounts/resources/851ead1/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <a href="https://accounts.douban.com/passport/login?source=music" class="nav-login" rel="nofollow">登录/注册</a>
</div>


    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;0&quot;}">读书</a>
    </li>
    <li class="">
      <a href="https://movie.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;0&quot;}">电影</a>
    </li>
    <li class="on">
      <a href="https://music.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;0&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;0&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;0&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;0&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;0&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;0&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;0&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/851ead1/shire/bundle.js" defer="defer"></script>




      



    <link href="//img3.doubanio.com/dae/accounts/resources/851ead1/music/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-music" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;music.douban.com">豆瓣音乐</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;music/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="唱片名、表演者、条码、ISRC" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1003" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://music.douban.com/artists/"
     >音乐人</a>
    </li>
    <li    ><a href="https://music.douban.com/topics/"
     >专题</a>
    </li>
    <li    ><a href="https://music.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://music.douban.com/tag/"
     >分类浏览</a>
    </li>
    <li    ><a href="https://music.douban.com/review/latest/"
     >乐评</a>
    </li>
    <li    ><a href="https://fm.douban.com/?from_=music_nav"
     >豆瓣FM</a>
    </li>
    <li    ><a href="https://fm.douban.com/explore/songlists/"
     >歌单</a>
    </li>
    <li    ><a href="https://music.douban.com/annual/2024/?fullscreen=1&source=navigation"
            target="_blank"
     >2024年度榜单</a>
    </li>
  </ul>
</div>

    <a href="https://music.douban.com/annual/2024/?source=music_navigation" class="musicannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'music_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= pic}}" width="40" />
            <div>
                <em>{{= title}}</em>
                {{if type == "m"}}
                    <span>(艺术家)</span>
                {{else type == "a"}}
                    <span>(音乐人)</span>
                {{else type == "d"}}
                    <span>(DJ)</span>
                {{else type == "l"}}
                    <span>(厂牌)</span>
                {{/if}}
                {{if other_title}}
                    <span>其他名称：{{= other_title}}</span>
                {{/if}}
                {{if performer}}
                    <p>表演者：{{= performer}}</p>
                {{/if}}
                {{if cn_name}}
                    <p>{{= cn_name}}</p>
                {{/if}}
                {{if en_name}}
                    <p>{{= en_name}}</p>
                {{/if}}
            </div>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/851ead1/music/bundle.js" defer="defer"></script>





    <div id="wrapper">
        

        
<div id="content">
    
    <h1>豆瓣音乐标签: OST</h1>

    <div class="grid-16-8 clearfix">
        
        
        <div class="article">
               
  <div id="subject_list">

      
  
  <div class="clearfix">
    <span class="rr greyinput">

          综合排序
          &nbsp;/&nbsp;

          <a href="/tag/OST?type=S">评分排序</a>
          &nbsp;/&nbsp;

          <a href="/tag/OST?type=R">日期排序</a>
          &nbsp;/&nbsp;

          <a href="/tag/OST?type=O">标注次数排序</a>
    </span>
  </div>


    

        
        <p class="ul first"></p>
        <table width="100%%">
            <tr class="item" id="37151759">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37151759/" onclick="moreurl(this,{i:'0',query:'',subject_id:'37151759',from:'music_subject_search'})" title="王源 - 别丢了你的勇敢"  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s35030527.jpg" alt="王源 - 别丢了你的勇敢" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37151759/" onclick="moreurl(this,{i:'0',query:'',subject_id:'37151759',from:'music_subject_search'})" >
            别丢了你的勇敢
                <span style="font-size:12px;">电影《孤星计划》主题曲</span>
       </a>

            <p class="pl">王源 / 2024-12-07 / 单曲 / 数字(Digital) / 原声</p>

        
        
                <span class="pl">
                    (
                            目前无人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37151759"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37074617">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37074617/" onclick="moreurl(this,{i:'1',query:'',subject_id:'37074617',from:'music_subject_search'})" title="Ariana Grande... - Wicked: The Soundtrack"  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s35013413.jpg" alt="Ariana Grande... - Wicked: The Soundtrack" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37074617/" onclick="moreurl(this,{i:'1',query:'',subject_id:'37074617',from:'music_subject_search'})" >
            Wicked: The Soundtrack
                <span style="font-size:12px;">魔法坏女巫：原声带大碟</span>
       </a>

            <p class="pl">Ariana Grande,Cynthia Erivo / 2024-11-22 / 专辑 / CD / 原声</p>

        
        
                    <div class="star clearfix"><span class="allstar40"></span><span class="rating_nums">8.2</span>
                <span class="pl">
                    (
                            614人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37074617"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37088587">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37088587/" onclick="moreurl(this,{i:'2',query:'',subject_id:'37088587',from:'music_subject_search'})" title="林家谦... - 普渡众生"  >
            <img src="https://img9.doubanio.com/view/subject/s/public/s34988304.jpg" alt="林家谦... - 普渡众生" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37088587/" onclick="moreurl(this,{i:'2',query:'',subject_id:'37088587',from:'music_subject_search'})" >
            普渡众生
                <span style="font-size:12px;">《破．地狱》THE LAST DANCE电影主题曲</span>
       </a>

            <p class="pl">林家谦,Terence Lam / 2024-10-23 / 单曲 / 数字(Digital) / 原声</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.8</span>
                <span class="pl">
                    (
                            629人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37088587"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37180496">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37180496/" onclick="moreurl(this,{i:'3',query:'',subject_id:'37180496',from:'music_subject_search'})" title="五月天... - 任性"  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s35047657.jpg" alt="五月天... - 任性" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37180496/" onclick="moreurl(this,{i:'3',query:'',subject_id:'37180496',from:'music_subject_search'})" >
            任性
                <span style="font-size:12px;">电视剧《难哄》主题曲 / Willful</span>
       </a>

            <p class="pl">五月天,Mayday / 2024-12-30 / 单曲 / 数字(Digital) / 原声</p>

        
        
                <span class="pl">
                    (
                            目前无人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37180496"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37117853">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37117853/" onclick="moreurl(this,{i:'4',query:'',subject_id:'37117853',from:'music_subject_search'})" title="朱芸编 Wan Pin Chu - 《破·地狱》电影原声大碟"  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s35008107.jpg" alt="朱芸编 Wan Pin Chu - 《破·地狱》电影原声大碟" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37117853/" onclick="moreurl(this,{i:'4',query:'',subject_id:'37117853',from:'music_subject_search'})" >
            《破·地狱》电影原声大碟
                <span style="font-size:12px;">&#34;The Last Dance&#34; The Original Soundtrack</span>
       </a>

            <p class="pl">朱芸编 Wan Pin Chu / 2024-11-28 / 专辑 / CD / 原声</p>

        
        
                <span class="pl">
                    (
                            目前无人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37117853"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37136644">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37136644/" onclick="moreurl(this,{i:'5',query:'',subject_id:'37136644',from:'music_subject_search'})" title="钟楚曦 - 滥俗的歌"  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s35020967.jpg" alt="钟楚曦 - 滥俗的歌" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37136644/" onclick="moreurl(this,{i:'5',query:'',subject_id:'37136644',from:'music_subject_search'})" >
            滥俗的歌
                <span style="font-size:12px;">电影《好东西》插曲</span>
       </a>

            <p class="pl">钟楚曦 / 2024-11-30 / 单曲 / 数字(Digital) / 原声</p>

        
        
                    <div class="star clearfix"><span class="allstar40"></span><span class="rating_nums">8.1</span>
                <span class="pl">
                    (
                            401人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37136644"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="36467609">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/36467609/" onclick="moreurl(this,{i:'6',query:'',subject_id:'36467609',from:'music_subject_search'})" title="王源 - 课桌背后"  >
            <img src="https://img2.doubanio.com/view/subject/s/public/s34580181.jpg" alt="王源 - 课桌背后" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/36467609/" onclick="moreurl(this,{i:'6',query:'',subject_id:'36467609',from:'music_subject_search'})" >
            课桌背后
                <span style="font-size:12px;">电视剧《追光的日子》插曲</span>
       </a>

            <p class="pl">王源 / 2023-07-04 / 单曲 / 数字(Digital) / 原声</p>

        
        
                <span class="pl">
                    (
                            目前无人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_36467609"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37211307">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37211307/" onclick="moreurl(this,{i:'7',query:'',subject_id:'37211307',from:'music_subject_search'})" title="安溥 anpu - 你怎么想"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s35066518.jpg" alt="安溥 anpu - 你怎么想" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37211307/" onclick="moreurl(this,{i:'7',query:'',subject_id:'37211307',from:'music_subject_search'})" >
            你怎么想
                <span style="font-size:12px;">《女儿的女儿》电影主题曲</span>
       </a>

            <p class="pl">安溥 anpu / 2025-01-22 / 单曲 / 数字(Digital) / 原声</p>

        
        
                <span class="pl">
                    (
                            目前无人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37211307"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="36772129">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/36772129/" onclick="moreurl(this,{i:'8',query:'',subject_id:'36772129',from:'music_subject_search'})" title="周深 - 小美满"  >
            <img src="https://img2.doubanio.com/view/subject/s/public/s34785531.jpg" alt="周深 - 小美满" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/36772129/" onclick="moreurl(this,{i:'8',query:'',subject_id:'36772129',from:'music_subject_search'})" >
            小美满
                <span style="font-size:12px;">电影《热辣滚烫》热辣陪伴曲</span>
       </a>

            <p class="pl">周深 / 2024-02-06 / 单曲 / 数字(Digital) / 原声</p>

        
        
                    <div class="star clearfix"><span class="allstar40"></span><span class="rating_nums">8.4</span>
                <span class="pl">
                    (
                            3412人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_36772129"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37145078">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37145078/" onclick="moreurl(this,{i:'9',query:'',subject_id:'37145078',from:'music_subject_search'})" title="Topshe - All We Imagine as Light (Original Motion Picture Soundtrack)"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s35026288.jpg" alt="Topshe - All We Imagine as Light (Original Motion Picture Soundtrack)" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37145078/" onclick="moreurl(this,{i:'9',query:'',subject_id:'37145078',from:'music_subject_search'})" >
            All We Imagine as Light (Original Motion Picture Soundtrack)
                <span style="font-size:12px;">《想象之光》电影原声</span>
       </a>

            <p class="pl">Topshe / 2024-11-29 / 专辑 / 数字(Digital) / 原声</p>

        
        
                <span class="pl">
                    (
                            目前无人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37145078"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37145822">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37145822/" onclick="moreurl(this,{i:'10',query:'',subject_id:'37145822',from:'music_subject_search'})" title="张韶涵 - 无名的人"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s35026979.jpg" alt="张韶涵 - 无名的人" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37145822/" onclick="moreurl(this,{i:'10',query:'',subject_id:'37145822',from:'music_subject_search'})" >
            无名的人
                <span style="font-size:12px;">电影《雄狮少年2》主题曲/片尾曲</span>
       </a>

            <p class="pl">张韶涵 / 2024-12-06 / 单曲 / 数字(Digital) / 原声</p>

        
        
                    <div class="star clearfix"><span class="allstar35"></span><span class="rating_nums">7.0</span>
                <span class="pl">
                    (
                            483人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37145822"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37012336">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37012336/" onclick="moreurl(this,{i:'11',query:'',subject_id:'37012336',from:'music_subject_search'})" title="游戏科学... - 《黑神话：悟空》游戏音乐精选集"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s34939880.jpg" alt="游戏科学... - 《黑神话：悟空》游戏音乐精选集" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37012336/" onclick="moreurl(this,{i:'11',query:'',subject_id:'37012336',from:'music_subject_search'})" >
            《黑神话：悟空》游戏音乐精选集
       </a>

            <p class="pl">游戏科学,8082Audio / 2024-08-20 / 专辑 / 数字(Digital) / 原声</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.2</span>
                <span class="pl">
                    (
                            754人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37012336"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="36955439">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/36955439/" onclick="moreurl(this,{i:'12',query:'',subject_id:'36955439',from:'music_subject_search'})" title="DOUDOU - 可你听见了"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s34903320.jpg" alt="DOUDOU - 可你听见了" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/36955439/" onclick="moreurl(this,{i:'12',query:'',subject_id:'36955439',from:'music_subject_search'})" >
            可你听见了
                <span style="font-size:12px;">《默杀》电影主题曲</span>
       </a>

            <p class="pl">DOUDOU / 2024-07-08 / 单曲 / 数字(Digital) / 摇滚</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.6</span>
                <span class="pl">
                    (
                            812人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_36955439"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37239536">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37239536/" onclick="moreurl(this,{i:'13',query:'',subject_id:'37239536',from:'music_subject_search'})" title="五月天 Mayday... - 电视剧《难哄》影视原声带·只喜欢你Love Moments"  >
            <img src="https://img9.doubanio.com/view/subject/s/public/s35082494.jpg" alt="五月天 Mayday... - 电视剧《难哄》影视原声带·只喜欢你Love Moments" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37239536/" onclick="moreurl(this,{i:'13',query:'',subject_id:'37239536',from:'music_subject_search'})" >
            电视剧《难哄》影视原声带·只喜欢你Love Moments
       </a>

            <p class="pl">五月天 Mayday,李宇春 Yuchun Li,毛不易 Buyi Mao,陈珊妮 Sandee Chan,张碧晨,汪苏泷 Sulong Wang,白敬亭,章若楠,张淼怡,赵磊,Fine乐团,严艺丹 Yidan Yan,陈昊森,张洢豪,萧秉治 xiao bing chin,Crispy脆乐团 / 2025-02-18 / 专辑 / 数字(Digital) / 原声</p>

        
        
                <span class="pl">
                    (
                            目前无人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37239536"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="36950952">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/36950952/" onclick="moreurl(this,{i:'14',query:'',subject_id:'36950952',from:'music_subject_search'})" title="Ryuichi Sakamoto... - Opus"  >
            <img src="https://img2.doubanio.com/view/subject/s/public/s34931261.jpg" alt="Ryuichi Sakamoto... - Opus" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/36950952/" onclick="moreurl(this,{i:'14',query:'',subject_id:'36950952',from:'music_subject_search'})" >
            Opus
       </a>

            <p class="pl">Ryuichi Sakamoto,坂本龍一 / 2024-08-09 / 专辑 / 数字(Digital)</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.4</span>
                <span class="pl">
                    (
                            612人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_36950952"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37145813">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37145813/" onclick="moreurl(this,{i:'15',query:'',subject_id:'37145813',from:'music_subject_search'})" title="章宇 - 小孩儿"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s35026970.jpg" alt="章宇 - 小孩儿" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37145813/" onclick="moreurl(this,{i:'15',query:'',subject_id:'37145813',from:'music_subject_search'})" >
            小孩儿
                <span style="font-size:12px;">电影《好东西》插曲</span>
       </a>

            <p class="pl">章宇 / 2024-12-06 / 单曲 / 数字(Digital) / 原声</p>

        
        
                <span class="pl">
                    (
                            目前无人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37145813"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="36951784">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/36951784/" onclick="moreurl(this,{i:'16',query:'',subject_id:'36951784',from:'music_subject_search'})" title="牛尾宪辅 Ushio Kensuke - 映画「きみの色」オリジナル・サウンドトラック all is colour within"  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s34931542.jpg" alt="牛尾宪辅 Ushio Kensuke - 映画「きみの色」オリジナル・サウンドトラック all is colour within" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/36951784/" onclick="moreurl(this,{i:'16',query:'',subject_id:'36951784',from:'music_subject_search'})" >
            映画「きみの色」オリジナル・サウンドトラック all is colour within
                <span style="font-size:12px;">电影「你的颜色」原声带 all is colour within / The Colors Within (Original Motion Pict</span>
       </a>

            <p class="pl">牛尾宪辅 Ushio Kensuke / 2024-08-28 / 专辑 / CD / 原声</p>

        
        
                <span class="pl">
                    (
                            目前无人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_36951784"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="36817438">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/36817438/" onclick="moreurl(this,{i:'17',query:'',subject_id:'36817438',from:'music_subject_search'})" title="蔡健雅... - 不够善良的我们：戏剧音乐设计专辑"  >
            <img src="https://img9.doubanio.com/view/subject/s/public/s34833665.jpg" alt="蔡健雅... - 不够善良的我们：戏剧音乐设计专辑" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/36817438/" onclick="moreurl(this,{i:'17',query:'',subject_id:'36817438',from:'music_subject_search'})" >
            不够善良的我们：戏剧音乐设计专辑
                <span style="font-size:12px;">电视剧《不够善良的我们》OST / Imperfect Us: Original Soundtrack</span>
       </a>

            <p class="pl">蔡健雅,Tanya Chua / 2024-04-12 / 专辑 / 黑胶 / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.5</span>
                <span class="pl">
                    (
                            2904人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_36817438"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37145405">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37145405/" onclick="moreurl(this,{i:'18',query:'',subject_id:'37145405',from:'music_subject_search'})" title="Yo La Tengo - Old Joy (Official Soundtrack)"  >
            <img src="https://img9.doubanio.com/view/subject/s/public/s35026594.jpg" alt="Yo La Tengo - Old Joy (Official Soundtrack)" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37145405/" onclick="moreurl(this,{i:'18',query:'',subject_id:'37145405',from:'music_subject_search'})" >
            Old Joy (Official Soundtrack)
       </a>

            <p class="pl">Yo La Tengo / 2025-02-28 / 专辑 / 黑胶 / 原声</p>

        
        
                <span class="pl">
                    (
                            目前无人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37145405"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="30398670">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/30398670/" onclick="moreurl(this,{i:'19',query:'',subject_id:'30398670',from:'music_subject_search'})" title="群星 - 花样年华 电影原声大碟"  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s29943647.jpg" alt="群星 - 花样年华 电影原声大碟" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/30398670/" onclick="moreurl(this,{i:'19',query:'',subject_id:'30398670',from:'music_subject_search'})" >
            花样年华 电影原声大碟
       </a>

            <p class="pl">群星 / 2000 / 专辑 / CD / 原声</p>

        
        
                    <div class="star clearfix"><span class="allstar50"></span><span class="rating_nums">9.7</span>
                <span class="pl">
                    (
                            1097人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_30398670"></div>


      
    
    

    
        <div class="paginator">
        <span class="prev">
            &lt;前页
        </span>
        
        

                <span class="thispage" data-total-page="135">1</span>
                
            <a href="/tag/OST?start=20&amp;type=T" >2</a>
        
                
            <a href="/tag/OST?start=40&amp;type=T" >3</a>
        
                
            <a href="/tag/OST?start=60&amp;type=T" >4</a>
        
                
            <a href="/tag/OST?start=80&amp;type=T" >5</a>
        
                
            <a href="/tag/OST?start=100&amp;type=T" >6</a>
        
                
            <a href="/tag/OST?start=120&amp;type=T" >7</a>
        
                
            <a href="/tag/OST?start=140&amp;type=T" >8</a>
        
                
            <a href="/tag/OST?start=160&amp;type=T" >9</a>
        
            <span class="break">...</span>
                
            <a href="/tag/OST?start=2660&amp;type=T" >134</a>
        
            <a href="/tag/OST?start=2680&amp;type=T" >135</a>
        
        <span class="next">
            <link rel="next" href="/tag/OST?start=20&amp;type=T"/>
            <a href="/tag/OST?start=20&amp;type=T" >后页&gt;</a>
        </span>

        </div>


  </div>

        </div>
        <div class="aside">
                
  <br/>
  <div id="dale_music_tag_top_right"></div>

    
    <h2>
        相关的标签
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
    </h2>

    
  <div class="tags-list">
      <a href="/tag/电影原声">电影原声</a>
      <a href="/tag/Soundtrack">Soundtrack</a>
      <a href="/tag/R2G_CP">R2G_CP</a>
      <a href="/tag/moonlightmile">moonlightmile</a>
      <a href="/tag/startrek">startrek</a>
      <a href="/tag/RussLandau">RussLandau</a>
      <a href="/tag/Jan_A.P._Kaczmarek">Jan_A.P._Kaczmarek</a>
      <a href="/tag/soundtrack">soundtrack</a>
  </div>


  
  <form name="tsp_form" action="/tag/" method="GET">
    <input name="search_text" class="j a_search_text" type="text" size="24" maxlength="36" title="去其他标签" value=""/>
    <input class="butt" type="submit" value="进入"/>
  </form>
  <br/>
  <br/>


  <p class="pl2 mb30">
    &gt; <a href="/tag/">浏览全部音乐标签</a>
  </p>


  




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '',
            browserId = 'paCBJb9WnUA',
            criteria = '3:/tag/OST',
            preview = '',
            debug = false,
            adSlots = ['dale_music_tag_top_right'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', '//img1.doubanio.com/NWQ3bnN2eS9mL2FkanMvYjFiN2ViZWM0ZDBiZjlkNTE1ZDdiODZiZDc0NzNhNjExYWU3ZDk3My9hZC5yZWxlYXNlLmpz?company_token=kX69T8w1wyOE-dale');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>








        </div>
        <div class="extra">
            
        </div>
    </div>
</div>

        
<div id="footer">
    
<span id="icp" class="fleft gray-link">
    &copy; 2005－2025 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=music" target="_blank">帮助中心</a>
    · <a href="https://fm.douban.com/app">手机音乐</a>
</span>

</div>

    </div>
    

    <!-- COLLECTED JS -->
    
  <script>
    $(function () {
      function update_tags(current) {
        html = $.map(current, function(o) {return '<span class="tags-name">' + o + '</span><sup class="tags-del"></sup> '}).join('<span class="tags-add">+</span>');
        $('h1').html('<span class="name">音乐标签：</span>' + html);
      };

      function get_current_tags() {
        var r = [];
        $('.tags-name').each(function() {r.push($(this).text())});
        return r;
      };

      function get_current_sort_type() {
        url = location.href;
        array = url.split("?")
        if (array.length == 1) {
          return "";
        }
        query = array[1];
        arr = query.split("&");
        for (var i = 0; i < arr.length; i++) {
          arr2 = arr[i].split('=');
          if (arr2[0] == "type") {
            if (arr2.length == 1) {
              return "";
            }
            return arr2[1];
          }
        }
        return "";
      };

      function update_subject_list(current, sort_type) {
        $('#subject_list').html('<span class="pl">载入中，请稍候...</span>');
        $('#subject_list').load_withck('/j/tag/j_subject_list', {tags:current.join(' '), type:sort_type}, function() {});
      };

      function update_related_tags_and_subject(current, sort_type) {
        update_related_tags(current, sort_type);
        // update_subject_list(current, sort_type);
      };

      function update_related_tags(current, sort_type) {
        $('#related_tags').load_withck('/j/tag/j_related_tag', {tags:current.join(' '), type:sort_type}, function() {
          $('.more').toggle(
            function () {
              $('.tags-hide').css('display', 'inline');
              $(this).text('收起▲');
            },
            function () {
              $('.tags-hide').hide();
              $(this).text('更多▼');
            }
          );
          $('.tags-del').click(function () {
            if($(this).prev().prev().text() == '+') {
              $(this).prev().prev().remove();
            } else if ($(this).next().text() == '+') {
              $(this).next().remove();
            }
            $(this).prev().remove().end().remove();
            current = get_current_tags();
            if (current.length == 0){
              document.location.href = '/tag/';
            } else {
              //setHash(current.join(' '));
              //location.href = '/tag/' + (location.href).split('#')[1] + '?type=' + sort_type;
              sort_type = get_current_sort_type();
              location.href = '/tag/' + current.join(' ') + '?type=' + sort_type;
            }
          });
          $('.add-tag').click(function () {
            current = get_current_tags();
            current.push($(this).text());
            update_tags(current);
            //setHash(current.join(' '));
            //location.href = '/tag/' + (location.href).split('#')[1] + '?type=' + sort_type;
            sort_type = get_current_sort_type();
            location.href = '/tag/' + current.join(' ') + '?type=' + sort_type;
          });
          $('.tagsInput').keypress(function (e) {
            if (e.which == 13) {
              current = get_current_tags();
              current.push($(this).val());
              update_tags(current);
              sort_type = get_current_sort_type();
              //setHash(current.join(' '));
              //location.href = '/tag/' + (location.href).split('#')[1] + '?type=' + sort_type;
              location.href = '/tag/' + current.join(' ') + '?type=' + sort_type;
            }
          });
          checkInput($('.tagsInput'));
        });
      };

      current = get_current_tags();
      sort_type = get_current_sort_type();
      update_related_tags_and_subject(current, sort_type);

      function checkInput (o) {
        if (!o.val() || o.val() == o.attr('title')) {
          o.addClass('greyinput');
          o.val(o.attr('title'));
        }
        o.focus(function(){
          o.removeClass('greyinput');
          if(o.val() == o.attr('title')) o.val('');
        });
        o.blur(function(){
          if(!o.val()){
            o.addClass('greyinput');
            o.val(o.attr('title'));
          }
        });
      }

      if($.browser.msie && $.browser.version == 6.0) {
        $('.tags-del').hover(
          function () { $(this).addClass('tags-hover'); },
          function () { $(this).removeClass('tags-hover'); }
        );
      }
      if (location.href.split('#').length > 1) {
        //changeUrl ();
      }

  });

  function setHash (a) {
    $.browser.msie?$.locationHash(a):location.hash = a;
  }
  </script>

    
    









<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5WP579" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5WP579');</script>
<!-- End Google Tag Manager -->


<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7019765-1']);
_gaq.push(['_setCampNameKey', 'dcn']);
_gaq.push(['_setCampSourceKey', 'dcs']);
_gaq.push(['_setCampMediumKey', 'dcm']);
_gaq.push(['_setCampTermKey', 'dct']);
_gaq.push(['_setCampContentKey', 'dcc']);
_gaq.push(['_addOrganic', 'baidu', 'word']);
_gaq.push(['_addOrganic', 'soso', 'w']);
_gaq.push(['_addOrganic', '3721', 'name']);
_gaq.push(['_addOrganic', 'youdao', 'q']);
_gaq.push(['_addOrganic', 'so.360.cn', 'q']);
_gaq.push(['_addOrganic', 'vnet', 'kw']);
_gaq.push(['_addOrganic', 'sogou', 'query']);
_gaq.push(['_addIgnoredOrganic', '豆瓣']);
_gaq.push(['_addIgnoredOrganic', 'douban']);
_gaq.push(['_addIgnoredOrganic', '豆瓣网']);
_gaq.push(['_addIgnoredOrganic', 'www.douban.com']);
_gaq.push(['_setDomainName', '.douban.com']);


    _gaq.push(['_setCustomVar', 1, 'responsive_view_mode', 'desktop', 3]);

_gaq.push(['_trackPageview']);
_gaq.push(['_trackPageLoadTime']);

window._ga_init = function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
};
if (window.addEventListener) {
    window.addEventListener('load', _ga_init, false);
} else {
    window.attachEvent('onload', _ga_init);
}
</script>





    <!-- dae-web-music--default-6566dcf854-shqqv-->

  <script>_SPLITTEST=''</script>
</body>

</html>



