<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
  豆瓣音乐标签: 民谣
</title>
    
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <script >var _head_start = new Date();</script>
    <script src="https://img1.doubanio.com/f/vendors/0511abe9863c2ea7084efa7e24d1d86c5b3974f1/js/jquery-1.10.2.min.js"></script>
    <script src="https://img1.doubanio.com/f/vendors/bdcc3c1ecb6de06ac99661953f4731c39e72af7f/js/douban.js"></script>
    <script src="https://img1.doubanio.com/f/vendors/43c21c5607ffe86759538789a60360c06532b4bf/js/do.js" data-cfg-autoload="false"></script>
    <link href="https://img1.doubanio.com/f/vendors/e92483e5e4c9c60cc75cbd8b700a2fd5b5fdf7b0/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/cuphead/music-static/css/init.3670a.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        
    </style>
    
    <!-- COLLECTED CSS -->
    <script></script>

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>
    
   



    <link href="//img3.doubanio.com/dae/accounts/resources/851ead1/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <a href="https://accounts.douban.com/passport/login?source=music" class="nav-login" rel="nofollow">登录/注册</a>
</div>


    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;0&quot;}">读书</a>
    </li>
    <li class="">
      <a href="https://movie.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;0&quot;}">电影</a>
    </li>
    <li class="on">
      <a href="https://music.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;0&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;0&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;0&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;0&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;0&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;0&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;0&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/851ead1/shire/bundle.js" defer="defer"></script>




      



    <link href="//img3.doubanio.com/dae/accounts/resources/851ead1/music/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-music" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;music.douban.com">豆瓣音乐</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;music/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="唱片名、表演者、条码、ISRC" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1003" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://music.douban.com/artists/"
     >音乐人</a>
    </li>
    <li    ><a href="https://music.douban.com/topics/"
     >专题</a>
    </li>
    <li    ><a href="https://music.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://music.douban.com/tag/"
     >分类浏览</a>
    </li>
    <li    ><a href="https://music.douban.com/review/latest/"
     >乐评</a>
    </li>
    <li    ><a href="https://fm.douban.com/?from_=music_nav"
     >豆瓣FM</a>
    </li>
    <li    ><a href="https://fm.douban.com/explore/songlists/"
     >歌单</a>
    </li>
    <li    ><a href="https://music.douban.com/annual/2024/?fullscreen=1&source=navigation"
            target="_blank"
     >2024年度榜单</a>
    </li>
  </ul>
</div>

    <a href="https://music.douban.com/annual/2024/?source=music_navigation" class="musicannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'music_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= pic}}" width="40" />
            <div>
                <em>{{= title}}</em>
                {{if type == "m"}}
                    <span>(艺术家)</span>
                {{else type == "a"}}
                    <span>(音乐人)</span>
                {{else type == "d"}}
                    <span>(DJ)</span>
                {{else type == "l"}}
                    <span>(厂牌)</span>
                {{/if}}
                {{if other_title}}
                    <span>其他名称：{{= other_title}}</span>
                {{/if}}
                {{if performer}}
                    <p>表演者：{{= performer}}</p>
                {{/if}}
                {{if cn_name}}
                    <p>{{= cn_name}}</p>
                {{/if}}
                {{if en_name}}
                    <p>{{= en_name}}</p>
                {{/if}}
            </div>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/851ead1/music/bundle.js" defer="defer"></script>





    <div id="wrapper">
        

        
<div id="content">
    
    <h1>豆瓣音乐标签: 民谣</h1>

    <div class="grid-16-8 clearfix">
        
        
        <div class="article">
               
  <div id="subject_list">

      
  
  <div class="clearfix">
    <span class="rr greyinput">

          综合排序
          &nbsp;/&nbsp;

          <a href="/tag/%E6%B0%91%E8%B0%A3?type=S">评分排序</a>
          &nbsp;/&nbsp;

          <a href="/tag/%E6%B0%91%E8%B0%A3?type=R">日期排序</a>
          &nbsp;/&nbsp;

          <a href="/tag/%E6%B0%91%E8%B0%A3?type=O">标注次数排序</a>
    </span>
  </div>


    

        
        <p class="ul first"></p>
        <table width="100%%">
            <tr class="item" id="36775064">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/36775064/" onclick="moreurl(this,{i:'0',query:'',subject_id:'36775064',from:'music_subject_search'})" title="Jessica Pratt - Here In The Pitch"  >
            <img src="https://img2.doubanio.com/view/subject/s/public/s34814871.jpg" alt="Jessica Pratt - Here In The Pitch" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/36775064/" onclick="moreurl(this,{i:'0',query:'',subject_id:'36775064',from:'music_subject_search'})" >
            Here In The Pitch
       </a>

            <p class="pl">Jessica Pratt / 2024-05-03 / 专辑 / CD / 民谣</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.5</span>
                <span class="pl">
                    (
                            1522人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_36775064"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="36904834">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/36904834/" onclick="moreurl(this,{i:'1',query:'',subject_id:'36904834',from:'music_subject_search'})" title="Clairo - Charm"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s34870520.jpg" alt="Clairo - Charm" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/36904834/" onclick="moreurl(this,{i:'1',query:'',subject_id:'36904834',from:'music_subject_search'})" >
            Charm
       </a>

            <p class="pl">Clairo / 2024-07-12 / 专辑 / 数字(Digital) / 民谣</p>

        
        
                    <div class="star clearfix"><span class="allstar40"></span><span class="rating_nums">8.3</span>
                <span class="pl">
                    (
                            2997人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_36904834"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="36912103">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/36912103/" onclick="moreurl(this,{i:'2',query:'',subject_id:'36912103',from:'music_subject_search'})" title="雷光夏 Summer Lei - 小故事"  >
            <img src="https://img9.doubanio.com/view/subject/s/public/s34876644.jpg" alt="雷光夏 Summer Lei - 小故事" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/36912103/" onclick="moreurl(this,{i:'2',query:'',subject_id:'36912103',from:'music_subject_search'})" >
            小故事
                <span style="font-size:12px;">Short Stories</span>
       </a>

            <p class="pl">雷光夏 Summer Lei / 2024-07-05 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar40"></span><span class="rating_nums">8.3</span>
                <span class="pl">
                    (
                            1934人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_36912103"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37180497">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37180497/" onclick="moreurl(this,{i:'3',query:'',subject_id:'37180497',from:'music_subject_search'})" title="马飞 - 祝你幸福"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s35047648.jpg" alt="马飞 - 祝你幸福" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37180497/" onclick="moreurl(this,{i:'3',query:'',subject_id:'37180497',from:'music_subject_search'})" >
            祝你幸福
                <span style="font-size:12px;">WISH YOU HAPPINESS.</span>
       </a>

            <p class="pl">马飞 / 2024-12-27 / 专辑 / 数字(Digital) / 民谣</p>

        
        
                <span class="pl">
                    (
                            目前无人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37180497"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="36073850">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/36073850/" onclick="moreurl(this,{i:'4',query:'',subject_id:'36073850',from:'music_subject_search'})" title="赵雷 Lei Zhao - 署前街少年"  >
            <img src="https://img2.doubanio.com/view/subject/s/public/s34295591.jpg" alt="赵雷 Lei Zhao - 署前街少年" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/36073850/" onclick="moreurl(this,{i:'4',query:'',subject_id:'36073850',from:'music_subject_search'})" >
            署前街少年
                <span style="font-size:12px;">Teen on Shuqian Street</span>
       </a>

            <p class="pl">赵雷 Lei Zhao / 2022-08-29 / 专辑 / 数字(Digital) / 民谣</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.7</span>
                <span class="pl">
                    (
                            11506人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_36073850"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="25709562">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/25709562/" onclick="moreurl(this,{i:'5',query:'',subject_id:'25709562',from:'music_subject_search'})" title="宋冬野 - 安和桥北"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s27029428.jpg" alt="宋冬野 - 安和桥北" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/25709562/" onclick="moreurl(this,{i:'5',query:'',subject_id:'25709562',from:'music_subject_search'})" >
            安和桥北
                <span style="font-size:12px;">献给张先诺先生</span>
       </a>

            <p class="pl">宋冬野 / 2013-08-26 / 专辑 / CD / 民谣</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.9</span>
                <span class="pl">
                    (
                            49411人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_25709562"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="36241558">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/36241558/" onclick="moreurl(this,{i:'6',query:'',subject_id:'36241558',from:'music_subject_search'})" title="赵雷 Lei Zhao - 我记得"  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s34421133.jpg" alt="赵雷 Lei Zhao - 我记得" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/36241558/" onclick="moreurl(this,{i:'6',query:'',subject_id:'36241558',from:'music_subject_search'})" >
            我记得
       </a>

            <p class="pl">赵雷 Lei Zhao / 2022-08-29 / 单曲 / 数字(Digital) / 民谣</p>

        
        
                    <div class="star clearfix"><span class="allstar50"></span><span class="rating_nums">9.6</span>
                <span class="pl">
                    (
                            3658人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_36241558"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="36714473">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/36714473/" onclick="moreurl(this,{i:'7',query:'',subject_id:'36714473',from:'music_subject_search'})" title="索廷 - 俚人往事"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s34745870.jpg" alt="索廷 - 俚人往事" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/36714473/" onclick="moreurl(this,{i:'7',query:'',subject_id:'36714473',from:'music_subject_search'})" >
            俚人往事
                <span style="font-size:12px;">Tales of Regionalfolk</span>
       </a>

            <p class="pl">索廷 / 2024-01-01 / 专辑 / CD / 世界音乐</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.5</span>
                <span class="pl">
                    (
                            512人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_36714473"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37133251">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37133251/" onclick="moreurl(this,{i:'8',query:'',subject_id:'37133251',from:'music_subject_search'})" title="赵雷 - 没有信号 LIVE"  >
            <img src="https://img9.doubanio.com/view/subject/s/public/s35018426.jpg" alt="赵雷 - 没有信号 LIVE" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37133251/" onclick="moreurl(this,{i:'8',query:'',subject_id:'37133251',from:'music_subject_search'})" >
            没有信号 LIVE
       </a>

            <p class="pl">赵雷 / 2024-11-22 / 专辑 / 数字(Digital) / 原声</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.7</span>
                <span class="pl">
                    (
                            260人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37133251"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="26302435">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/26302435/" onclick="moreurl(this,{i:'9',query:'',subject_id:'26302435',from:'music_subject_search'})" title="Sufjan Stevens - Carrie &amp; Lowell"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s28021459.jpg" alt="Sufjan Stevens - Carrie &amp; Lowell" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/26302435/" onclick="moreurl(this,{i:'9',query:'',subject_id:'26302435',from:'music_subject_search'})" >
            Carrie &amp; Lowell
                <span style="font-size:12px;">凯莉和洛维</span>
       </a>

            <p class="pl">Sufjan Stevens / 2015-03-30 / 专辑 / Audio CD / 民谣</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.4</span>
                <span class="pl">
                    (
                            12967人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_26302435"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37142885">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37142885/" onclick="moreurl(this,{i:'10',query:'',subject_id:'37142885',from:'music_subject_search'})" title="苏阳 - 远路歌"  >
            <img src="https://img9.doubanio.com/view/subject/s/public/s35024905.jpg" alt="苏阳 - 远路歌" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37142885/" onclick="moreurl(this,{i:'10',query:'',subject_id:'37142885',from:'music_subject_search'})" >
            远路歌
       </a>

            <p class="pl">苏阳 / 2024-11-28 / EP / CD / 民谣</p>

        
        
                <span class="pl">
                    (
                            目前无人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37142885"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="1404839">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/1404839/" onclick="moreurl(this,{i:'11',query:'',subject_id:'1404839',from:'music_subject_search'})" title="Joni Mitchell - Blue"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s2986130.jpg" alt="Joni Mitchell - Blue" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1404839/" onclick="moreurl(this,{i:'11',query:'',subject_id:'1404839',from:'music_subject_search'})" >
            Blue
       </a>

            <p class="pl">Joni Mitchell / 1971-06-22 / 专辑 / CD / 民谣</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.3</span>
                <span class="pl">
                    (
                            8426人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1404839"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="1920130">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/1920130/" onclick="moreurl(this,{i:'12',query:'',subject_id:'1920130',from:'music_subject_search'})" title="交工乐队 - 菊花夜行军"  >
            <img src="https://img2.doubanio.com/view/subject/s/public/s9100761.jpg" alt="交工乐队 - 菊花夜行军" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1920130/" onclick="moreurl(this,{i:'12',query:'',subject_id:'1920130',from:'music_subject_search'})" >
            菊花夜行军
                <span style="font-size:12px;">菊花夜行軍 / The Night March of the Chrysanthemums</span>
       </a>

            <p class="pl">交工乐队 / 2001 / 专辑 / CD / 民谣</p>

        
        
                    <div class="star clearfix"><span class="allstar50"></span><span class="rating_nums">9.7</span>
                <span class="pl">
                    (
                            9233人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1920130"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="1437370">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/1437370/" onclick="moreurl(this,{i:'13',query:'',subject_id:'1437370',from:'music_subject_search'})" title="胡德夫 (Kimbo) - 匆匆"  >
            <img src="https://img9.doubanio.com/view/subject/s/public/s4604346.jpg" alt="胡德夫 (Kimbo) - 匆匆" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1437370/" onclick="moreurl(this,{i:'13',query:'',subject_id:'1437370',from:'music_subject_search'})" >
            匆匆
                <span style="font-size:12px;">In A Flash</span>
       </a>

            <p class="pl">胡德夫 (Kimbo) / 2005 / 专辑 / CD / 民谣</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.2</span>
                <span class="pl">
                    (
                            9982人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1437370"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37214242">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37214242/" onclick="moreurl(this,{i:'14',query:'',subject_id:'37214242',from:'music_subject_search'})" title="好妹妹乐队 - 公园前"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s35067630.jpg" alt="好妹妹乐队 - 公园前" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37214242/" onclick="moreurl(this,{i:'14',query:'',subject_id:'37214242',from:'music_subject_search'})" >
            公园前
       </a>

            <p class="pl">好妹妹乐队 / 2025-01-21 / 专辑 / 数字(Digital) / 流行</p>

        
        
                <span class="pl">
                    (
                            目前无人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37214242"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="36736990">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/36736990/" onclick="moreurl(this,{i:'15',query:'',subject_id:'36736990',from:'music_subject_search'})" title="Adrianne Lenker - Bright Future"  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s34771677.jpg" alt="Adrianne Lenker - Bright Future" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/36736990/" onclick="moreurl(this,{i:'15',query:'',subject_id:'36736990',from:'music_subject_search'})" >
            Bright Future
       </a>

            <p class="pl">Adrianne Lenker / 2024-03-22 / 专辑 / CD / 民谣</p>

        
        
                    <div class="star clearfix"><span class="allstar40"></span><span class="rating_nums">8.1</span>
                <span class="pl">
                    (
                            1622人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_36736990"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="1428520">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/1428520/" onclick="moreurl(this,{i:'16',query:'',subject_id:'1428520',from:'music_subject_search'})" title="Bob Dylan - The Freewheelin&#39; Bob Dylan"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s2717579.jpg" alt="Bob Dylan - The Freewheelin&#39; Bob Dylan" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/1428520/" onclick="moreurl(this,{i:'16',query:'',subject_id:'1428520',from:'music_subject_search'})" >
            The Freewheelin&#39; Bob Dylan
       </a>

            <p class="pl">Bob Dylan / 1963 / 专辑 / Audio CD / 民谣</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.3</span>
                <span class="pl">
                    (
                            10563人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_1428520"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="36349147">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/36349147/" onclick="moreurl(this,{i:'17',query:'',subject_id:'36349147',from:'music_subject_search'})" title="Paris Paloma - labour"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s34493279.jpg" alt="Paris Paloma - labour" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/36349147/" onclick="moreurl(this,{i:'17',query:'',subject_id:'36349147',from:'music_subject_search'})" >
            labour
       </a>

            <p class="pl">Paris Paloma / 2023-03-23 / 单曲 / 数字(Digital) / 民谣</p>

        
        
                    <div class="star clearfix"><span class="allstar50"></span><span class="rating_nums">9.6</span>
                <span class="pl">
                    (
                            319人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_36349147"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37025689">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37025689/" onclick="moreurl(this,{i:'18',query:'',subject_id:'37025689',from:'music_subject_search'})" title="Mount Eerie - Night Palace"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s34949028.jpg" alt="Mount Eerie - Night Palace" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37025689/" onclick="moreurl(this,{i:'18',query:'',subject_id:'37025689',from:'music_subject_search'})" >
            Night Palace
       </a>

            <p class="pl">Mount Eerie / 2024-11-01 / 专辑 / 黑胶 / 民谣</p>

        
        
                    <div class="star clearfix"><span class="allstar40"></span><span class="rating_nums">7.9</span>
                <span class="pl">
                    (
                            445人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37025689"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="36904846">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/36904846/" onclick="moreurl(this,{i:'19',query:'',subject_id:'36904846',from:'music_subject_search'})" title="雷光夏 Summer Lei - 歇业的海水浴场"  >
            <img src="https://img2.doubanio.com/view/subject/s/public/s34870531.jpg" alt="雷光夏 Summer Lei - 歇业的海水浴场" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/36904846/" onclick="moreurl(this,{i:'19',query:'',subject_id:'36904846',from:'music_subject_search'})" >
            歇业的海水浴场
       </a>

            <p class="pl">雷光夏 Summer Lei / 2024-05-24 / 单曲 / 数字(Digital) / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.5</span>
                <span class="pl">
                    (
                            611人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_36904846"></div>


      
    
    

    
        <div class="paginator">
        <span class="prev">
            &lt;前页
        </span>
        
        

                <span class="thispage" data-total-page="68">1</span>
                
            <a href="/tag/民谣?start=20&amp;type=T" >2</a>
        
                
            <a href="/tag/民谣?start=40&amp;type=T" >3</a>
        
                
            <a href="/tag/民谣?start=60&amp;type=T" >4</a>
        
                
            <a href="/tag/民谣?start=80&amp;type=T" >5</a>
        
                
            <a href="/tag/民谣?start=100&amp;type=T" >6</a>
        
                
            <a href="/tag/民谣?start=120&amp;type=T" >7</a>
        
                
            <a href="/tag/民谣?start=140&amp;type=T" >8</a>
        
                
            <a href="/tag/民谣?start=160&amp;type=T" >9</a>
        
            <span class="break">...</span>
                
            <a href="/tag/民谣?start=1320&amp;type=T" >67</a>
        
            <a href="/tag/民谣?start=1340&amp;type=T" >68</a>
        
        <span class="next">
            <link rel="next" href="/tag/民谣?start=20&amp;type=T"/>
            <a href="/tag/民谣?start=20&amp;type=T" >后页&gt;</a>
        </span>

        </div>


  </div>

        </div>
        <div class="aside">
                
  <br/>
  <div id="dale_music_tag_top_right"></div>

    
    <h2>
        相关的标签
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
    </h2>

    
  <div class="tags-list">
      <a href="/tag/folk">folk</a>
      <a href="/tag/Folk">Folk</a>
      <a href="/tag/女声唱片">女声唱片</a>
      <a href="/tag/70年代">70年代</a>
      <a href="/tag/去年听过的">去年听过的</a>
      <a href="/tag/占个铺">占个铺</a>
      <a href="/tag/爱尔兰">爱尔兰</a>
      <a href="/tag/女声">女声</a>
  </div>


  
  <form name="tsp_form" action="/tag/" method="GET">
    <input name="search_text" class="j a_search_text" type="text" size="24" maxlength="36" title="去其他标签" value=""/>
    <input class="butt" type="submit" value="进入"/>
  </form>
  <br/>
  <br/>


  <p class="pl2 mb30">
    &gt; <a href="/tag/">浏览全部音乐标签</a>
  </p>


  




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '',
            browserId = 'W84J-lUbh4A',
            criteria = '3:/tag/民谣',
            preview = '',
            debug = false,
            adSlots = ['dale_music_tag_top_right'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', '//img1.doubanio.com/NWQ3bnN2eS9mL2FkanMvYjFiN2ViZWM0ZDBiZjlkNTE1ZDdiODZiZDc0NzNhNjExYWU3ZDk3My9hZC5yZWxlYXNlLmpz?company_token=kX69T8w1wyOE-dale');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>








        </div>
        <div class="extra">
            
        </div>
    </div>
</div>

        
<div id="footer">
    
<span id="icp" class="fleft gray-link">
    &copy; 2005－2025 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=music" target="_blank">帮助中心</a>
    · <a href="https://fm.douban.com/app">手机音乐</a>
</span>

</div>

    </div>
    

    <!-- COLLECTED JS -->
    
  <script>
    $(function () {
      function update_tags(current) {
        html = $.map(current, function(o) {return '<span class="tags-name">' + o + '</span><sup class="tags-del"></sup> '}).join('<span class="tags-add">+</span>');
        $('h1').html('<span class="name">音乐标签：</span>' + html);
      };

      function get_current_tags() {
        var r = [];
        $('.tags-name').each(function() {r.push($(this).text())});
        return r;
      };

      function get_current_sort_type() {
        url = location.href;
        array = url.split("?")
        if (array.length == 1) {
          return "";
        }
        query = array[1];
        arr = query.split("&");
        for (var i = 0; i < arr.length; i++) {
          arr2 = arr[i].split('=');
          if (arr2[0] == "type") {
            if (arr2.length == 1) {
              return "";
            }
            return arr2[1];
          }
        }
        return "";
      };

      function update_subject_list(current, sort_type) {
        $('#subject_list').html('<span class="pl">载入中，请稍候...</span>');
        $('#subject_list').load_withck('/j/tag/j_subject_list', {tags:current.join(' '), type:sort_type}, function() {});
      };

      function update_related_tags_and_subject(current, sort_type) {
        update_related_tags(current, sort_type);
        // update_subject_list(current, sort_type);
      };

      function update_related_tags(current, sort_type) {
        $('#related_tags').load_withck('/j/tag/j_related_tag', {tags:current.join(' '), type:sort_type}, function() {
          $('.more').toggle(
            function () {
              $('.tags-hide').css('display', 'inline');
              $(this).text('收起▲');
            },
            function () {
              $('.tags-hide').hide();
              $(this).text('更多▼');
            }
          );
          $('.tags-del').click(function () {
            if($(this).prev().prev().text() == '+') {
              $(this).prev().prev().remove();
            } else if ($(this).next().text() == '+') {
              $(this).next().remove();
            }
            $(this).prev().remove().end().remove();
            current = get_current_tags();
            if (current.length == 0){
              document.location.href = '/tag/';
            } else {
              //setHash(current.join(' '));
              //location.href = '/tag/' + (location.href).split('#')[1] + '?type=' + sort_type;
              sort_type = get_current_sort_type();
              location.href = '/tag/' + current.join(' ') + '?type=' + sort_type;
            }
          });
          $('.add-tag').click(function () {
            current = get_current_tags();
            current.push($(this).text());
            update_tags(current);
            //setHash(current.join(' '));
            //location.href = '/tag/' + (location.href).split('#')[1] + '?type=' + sort_type;
            sort_type = get_current_sort_type();
            location.href = '/tag/' + current.join(' ') + '?type=' + sort_type;
          });
          $('.tagsInput').keypress(function (e) {
            if (e.which == 13) {
              current = get_current_tags();
              current.push($(this).val());
              update_tags(current);
              sort_type = get_current_sort_type();
              //setHash(current.join(' '));
              //location.href = '/tag/' + (location.href).split('#')[1] + '?type=' + sort_type;
              location.href = '/tag/' + current.join(' ') + '?type=' + sort_type;
            }
          });
          checkInput($('.tagsInput'));
        });
      };

      current = get_current_tags();
      sort_type = get_current_sort_type();
      update_related_tags_and_subject(current, sort_type);

      function checkInput (o) {
        if (!o.val() || o.val() == o.attr('title')) {
          o.addClass('greyinput');
          o.val(o.attr('title'));
        }
        o.focus(function(){
          o.removeClass('greyinput');
          if(o.val() == o.attr('title')) o.val('');
        });
        o.blur(function(){
          if(!o.val()){
            o.addClass('greyinput');
            o.val(o.attr('title'));
          }
        });
      }

      if($.browser.msie && $.browser.version == 6.0) {
        $('.tags-del').hover(
          function () { $(this).addClass('tags-hover'); },
          function () { $(this).removeClass('tags-hover'); }
        );
      }
      if (location.href.split('#').length > 1) {
        //changeUrl ();
      }

  });

  function setHash (a) {
    $.browser.msie?$.locationHash(a):location.hash = a;
  }
  </script>

    
    









<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5WP579" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5WP579');</script>
<!-- End Google Tag Manager -->


<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7019765-1']);
_gaq.push(['_setCampNameKey', 'dcn']);
_gaq.push(['_setCampSourceKey', 'dcs']);
_gaq.push(['_setCampMediumKey', 'dcm']);
_gaq.push(['_setCampTermKey', 'dct']);
_gaq.push(['_setCampContentKey', 'dcc']);
_gaq.push(['_addOrganic', 'baidu', 'word']);
_gaq.push(['_addOrganic', 'soso', 'w']);
_gaq.push(['_addOrganic', '3721', 'name']);
_gaq.push(['_addOrganic', 'youdao', 'q']);
_gaq.push(['_addOrganic', 'so.360.cn', 'q']);
_gaq.push(['_addOrganic', 'vnet', 'kw']);
_gaq.push(['_addOrganic', 'sogou', 'query']);
_gaq.push(['_addIgnoredOrganic', '豆瓣']);
_gaq.push(['_addIgnoredOrganic', 'douban']);
_gaq.push(['_addIgnoredOrganic', '豆瓣网']);
_gaq.push(['_addIgnoredOrganic', 'www.douban.com']);
_gaq.push(['_setDomainName', '.douban.com']);


    _gaq.push(['_setCustomVar', 1, 'responsive_view_mode', 'desktop', 3]);

_gaq.push(['_trackPageview']);
_gaq.push(['_trackPageLoadTime']);

window._ga_init = function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
};
if (window.addEventListener) {
    window.addEventListener('load', _ga_init, false);
} else {
    window.attachEvent('onload', _ga_init);
}
</script>





    <!-- dae-web-music--default-6566dcf854-shqqv-->

  <script>_SPLITTEST=''</script>
</body>

</html>



