<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
  豆瓣音乐标签: 流行
</title>
    
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <script >var _head_start = new Date();</script>
    <script src="https://img1.doubanio.com/f/vendors/0511abe9863c2ea7084efa7e24d1d86c5b3974f1/js/jquery-1.10.2.min.js"></script>
    <script src="https://img1.doubanio.com/f/vendors/bdcc3c1ecb6de06ac99661953f4731c39e72af7f/js/douban.js"></script>
    <script src="https://img1.doubanio.com/f/vendors/43c21c5607ffe86759538789a60360c06532b4bf/js/do.js" data-cfg-autoload="false"></script>
    <link href="https://img1.doubanio.com/f/vendors/e92483e5e4c9c60cc75cbd8b700a2fd5b5fdf7b0/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/cuphead/music-static/css/init.3670a.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        
    </style>
    
    <!-- COLLECTED CSS -->
    <script></script>

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>
    
   



    <link href="//img3.doubanio.com/dae/accounts/resources/851ead1/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <a href="https://accounts.douban.com/passport/login?source=music" class="nav-login" rel="nofollow">登录/注册</a>
</div>


    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;0&quot;}">读书</a>
    </li>
    <li class="">
      <a href="https://movie.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;0&quot;}">电影</a>
    </li>
    <li class="on">
      <a href="https://music.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;0&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;0&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;0&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;0&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;0&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;0&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;0&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/851ead1/shire/bundle.js" defer="defer"></script>




      



    <link href="//img3.doubanio.com/dae/accounts/resources/851ead1/music/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-music" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;music.douban.com">豆瓣音乐</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;music/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="唱片名、表演者、条码、ISRC" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1003" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://music.douban.com/artists/"
     >音乐人</a>
    </li>
    <li    ><a href="https://music.douban.com/topics/"
     >专题</a>
    </li>
    <li    ><a href="https://music.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://music.douban.com/tag/"
     >分类浏览</a>
    </li>
    <li    ><a href="https://music.douban.com/review/latest/"
     >乐评</a>
    </li>
    <li    ><a href="https://fm.douban.com/?from_=music_nav"
     >豆瓣FM</a>
    </li>
    <li    ><a href="https://fm.douban.com/explore/songlists/"
     >歌单</a>
    </li>
    <li    ><a href="https://music.douban.com/annual/2024/?fullscreen=1&source=navigation"
            target="_blank"
     >2024年度榜单</a>
    </li>
  </ul>
</div>

    <a href="https://music.douban.com/annual/2024/?source=music_navigation" class="musicannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'music_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= pic}}" width="40" />
            <div>
                <em>{{= title}}</em>
                {{if type == "m"}}
                    <span>(艺术家)</span>
                {{else type == "a"}}
                    <span>(音乐人)</span>
                {{else type == "d"}}
                    <span>(DJ)</span>
                {{else type == "l"}}
                    <span>(厂牌)</span>
                {{/if}}
                {{if other_title}}
                    <span>其他名称：{{= other_title}}</span>
                {{/if}}
                {{if performer}}
                    <p>表演者：{{= performer}}</p>
                {{/if}}
                {{if cn_name}}
                    <p>{{= cn_name}}</p>
                {{/if}}
                {{if en_name}}
                    <p>{{= en_name}}</p>
                {{/if}}
            </div>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/851ead1/music/bundle.js" defer="defer"></script>





    <div id="wrapper">
        

        
<div id="content">
    
    <h1>豆瓣音乐标签: 流行</h1>

    <div class="grid-16-8 clearfix">
        
        
        <div class="article">
               
  <div id="subject_list">

      
  
  <div class="clearfix">
    <span class="rr greyinput">

          综合排序
          &nbsp;/&nbsp;

          <a href="/tag/%E6%B5%81%E8%A1%8C?type=S">评分排序</a>
          &nbsp;/&nbsp;

          <a href="/tag/%E6%B5%81%E8%A1%8C?type=R">日期排序</a>
          &nbsp;/&nbsp;

          <a href="/tag/%E6%B5%81%E8%A1%8C?type=O">标注次数排序</a>
    </span>
  </div>


    

        
        <p class="ul first"></p>
        <table width="100%%">
            <tr class="item" id="37109622">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37109622/" onclick="moreurl(this,{i:'0',query:'',subject_id:'37109622',from:'music_subject_search'})" title="肖战 - 我们"  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s35015217.jpg" alt="肖战 - 我们" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37109622/" onclick="moreurl(this,{i:'0',query:'',subject_id:'37109622',from:'music_subject_search'})" >
            我们
       </a>

            <p class="pl">肖战 / 2024-11-12 / 专辑 / 数字(Digital) / 流行</p>

        
        
                <span class="pl">
                    (
                            目前无人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37109622"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37151690">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37151690/" onclick="moreurl(this,{i:'1',query:'',subject_id:'37151690',from:'music_subject_search'})" title="魏如萱... - 珍珠刑"  >
            <img src="https://img2.doubanio.com/view/subject/s/public/s35041951.jpg" alt="魏如萱... - 珍珠刑" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37151690/" onclick="moreurl(this,{i:'1',query:'',subject_id:'37151690',from:'music_subject_search'})" >
            珍珠刑
                <span style="font-size:12px;">Ordeal by Pearls</span>
       </a>

            <p class="pl">魏如萱,Waa Wei / 2024-12-24 / 专辑 / 数字(Digital) / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar40"></span><span class="rating_nums">8.0</span>
                <span class="pl">
                    (
                            6328人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37151690"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37177942">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37177942/" onclick="moreurl(this,{i:'2',query:'',subject_id:'37177942',from:'music_subject_search'})" title="王俊凯 - 大概"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s35046188.jpg" alt="王俊凯 - 大概" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37177942/" onclick="moreurl(this,{i:'2',query:'',subject_id:'37177942',from:'music_subject_search'})" >
            大概
       </a>

            <p class="pl">王俊凯 / 2024-12-27 / 单曲 / 数字(Digital) / 流行</p>

        
        
                <span class="pl">
                    (
                            目前无人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37177942"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37121854">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37121854/" onclick="moreurl(this,{i:'3',query:'',subject_id:'37121854',from:'music_subject_search'})" title="王源 - 日落可以慢半拍"  >
            <img src="https://img9.doubanio.com/view/subject/s/public/s35011096.jpg" alt="王源 - 日落可以慢半拍" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37121854/" onclick="moreurl(this,{i:'3',query:'',subject_id:'37121854',from:'music_subject_search'})" >
            日落可以慢半拍
       </a>

            <p class="pl">王源 / 2024-11-16 / 单曲 / 数字(Digital) / 流行</p>

        
        
                <span class="pl">
                    (
                            目前无人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37121854"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37203662">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37203662/" onclick="moreurl(this,{i:'4',query:'',subject_id:'37203662',from:'music_subject_search'})" title="孙燕姿 Stefanie - 日落"  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s35062343.jpg" alt="孙燕姿 Stefanie - 日落" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37203662/" onclick="moreurl(this,{i:'4',query:'',subject_id:'37203662',from:'music_subject_search'})" >
            日落
                <span style="font-size:12px;">Afterwards</span>
       </a>

            <p class="pl">孙燕姿 Stefanie / 2025-01-17 / 单曲 / 数字(Digital) / 流行</p>

        
        
                <span class="pl">
                    (
                            目前无人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37203662"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37165099">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37165099/" onclick="moreurl(this,{i:'5',query:'',subject_id:'37165099',from:'music_subject_search'})" title="郁可唯... - 我怪"  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s35040567.jpg" alt="郁可唯... - 我怪" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37165099/" onclick="moreurl(this,{i:'5',query:'',subject_id:'37165099',from:'music_subject_search'})" >
            我怪
                <span style="font-size:12px;">How Weird of Me</span>
       </a>

            <p class="pl">郁可唯,Yisa Yu / 2024-12-20 / 专辑 / 数字(Digital) / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar35"></span><span class="rating_nums">7.2</span>
                <span class="pl">
                    (
                            2468人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37165099"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="36848211">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/36848211/" onclick="moreurl(this,{i:'6',query:'',subject_id:'36848211',from:'music_subject_search'})" title="Billie Eilish - HIT ME HARD AND SOFT"  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s34867067.jpg" alt="Billie Eilish - HIT ME HARD AND SOFT" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/36848211/" onclick="moreurl(this,{i:'6',query:'',subject_id:'36848211',from:'music_subject_search'})" >
            HIT ME HARD AND SOFT
                <span style="font-size:12px;">温柔重击</span>
       </a>

            <p class="pl">Billie Eilish / 2024-05-17 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.7</span>
                <span class="pl">
                    (
                            14567人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_36848211"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37156190">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37156190/" onclick="moreurl(this,{i:'7',query:'',subject_id:'37156190',from:'music_subject_search'})" title="艾怡良 Eve Ai - 我的问题该问谁"  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s35038397.jpg" alt="艾怡良 Eve Ai - 我的问题该问谁" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37156190/" onclick="moreurl(this,{i:'7',query:'',subject_id:'37156190',from:'music_subject_search'})" >
            我的问题该问谁
                <span style="font-size:12px;">Whom Should I Ask ?</span>
       </a>

            <p class="pl">艾怡良 Eve Ai / 2024-12-19 / 专辑 / 黑胶 / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar30"></span><span class="rating_nums">5.7</span>
                <span class="pl">
                    (
                            2646人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37156190"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37060490">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37060490/" onclick="moreurl(this,{i:'8',query:'',subject_id:'37060490',from:'music_subject_search'})" title="ROSÉ - rosie"  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s34971187.jpg" alt="ROSÉ - rosie" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37060490/" onclick="moreurl(this,{i:'8',query:'',subject_id:'37060490',from:'music_subject_search'})" >
            rosie
                <span style="font-size:12px;">Number One Girl</span>
       </a>

            <p class="pl">ROSÉ / 2024-12-06 / 专辑 / 数字(Digital) / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar30"></span><span class="rating_nums">5.8</span>
                <span class="pl">
                    (
                            3360人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37060490"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37211308">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37211308/" onclick="moreurl(this,{i:'9',query:'',subject_id:'37211308',from:'music_subject_search'})" title="王菲 - 世界赠予我的"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s35066368.jpg" alt="王菲 - 世界赠予我的" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37211308/" onclick="moreurl(this,{i:'9',query:'',subject_id:'37211308',from:'music_subject_search'})" >
            世界赠予我的
       </a>

            <p class="pl">王菲 / 2025-01-22 / 单曲 / 数字(Digital) / 流行</p>

        
        
                <span class="pl">
                    (
                            目前无人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37211308"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37190438">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37190438/" onclick="moreurl(this,{i:'10',query:'',subject_id:'37190438',from:'music_subject_search'})" title="华晨宇 Chenyu Hua - 量变临界点"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s35054310.jpg" alt="华晨宇 Chenyu Hua - 量变临界点" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37190438/" onclick="moreurl(this,{i:'10',query:'',subject_id:'37190438',from:'music_subject_search'})" >
            量变临界点
       </a>

            <p class="pl">华晨宇 Chenyu Hua / 2025-01-10 / 专辑 / 数字(Digital) / 流行</p>

        
        
                <span class="pl">
                    (
                            目前无人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37190438"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37172092">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37172092/" onclick="moreurl(this,{i:'11',query:'',subject_id:'37172092',from:'music_subject_search'})" title="张韶涵... - 与世之争"  >
            <img src="https://img9.doubanio.com/view/subject/s/public/s35046275.jpg" alt="张韶涵... - 与世之争" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37172092/" onclick="moreurl(this,{i:'11',query:'',subject_id:'37172092',from:'music_subject_search'})" >
            与世之争
       </a>

            <p class="pl">张韶涵,Angela Chang / 2024-12-27 / 专辑 / 数字(Digital) / 流行</p>

        
        
                <span class="pl">
                    (
                            目前无人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37172092"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37190405">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37190405/" onclick="moreurl(this,{i:'12',query:'',subject_id:'37190405',from:'music_subject_search'})" title="王一博 - 我在 (I AM NOT HERE)"  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s35054277.jpg" alt="王一博 - 我在 (I AM NOT HERE)" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37190405/" onclick="moreurl(this,{i:'12',query:'',subject_id:'37190405',from:'music_subject_search'})" >
            我在 (I AM NOT HERE)
       </a>

            <p class="pl">王一博 / 2024-12-28 / 单曲 / 数字(Digital) / 流行</p>

        
        
                <span class="pl">
                    (
                            目前无人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37190405"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37161480">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37161480/" onclick="moreurl(this,{i:'13',query:'',subject_id:'37161480',from:'music_subject_search'})" title="陈珊妮 Sandee Chan - 趁記憶消失之前"  >
            <img src="https://img9.doubanio.com/view/subject/s/public/s35044865.jpg" alt="陈珊妮 Sandee Chan - 趁記憶消失之前" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37161480/" onclick="moreurl(this,{i:'13',query:'',subject_id:'37161480',from:'music_subject_search'})" >
            趁記憶消失之前
                <span style="font-size:12px;">Before the memories Fade [Acoustic Live Session]</span>
       </a>

            <p class="pl">陈珊妮 Sandee Chan / 2024-12-27 / 专辑 / 数字(Digital) / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.0</span>
                <span class="pl">
                    (
                            1640人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37161480"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="36887523">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/36887523/" onclick="moreurl(this,{i:'14',query:'',subject_id:'36887523',from:'music_subject_search'})" title="王源... - Fingerprints（触不可及的你）"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s35049019.jpg" alt="王源... - Fingerprints（触不可及的你）" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/36887523/" onclick="moreurl(this,{i:'14',query:'',subject_id:'36887523',from:'music_subject_search'})" >
            Fingerprints（触不可及的你）
       </a>

            <p class="pl">王源,Roy Wang / 2024-05-14 / 单曲 / 数字(Digital) / 流行</p>

        
        
                <span class="pl">
                    (
                            目前无人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_36887523"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="36858806">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/36858806/" onclick="moreurl(this,{i:'15',query:'',subject_id:'36858806',from:'music_subject_search'})" title="Chappell Roan - Good Luck, Babe!"  >
            <img src="https://img3.doubanio.com/view/subject/s/public/s35008542.jpg" alt="Chappell Roan - Good Luck, Babe!" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/36858806/" onclick="moreurl(this,{i:'15',query:'',subject_id:'36858806',from:'music_subject_search'})" >
            Good Luck, Babe!
       </a>

            <p class="pl">Chappell Roan / 2024-04-05 / 单曲 / 数字(Digital) / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">9.3</span>
                <span class="pl">
                    (
                            4881人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_36858806"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37136637">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37136637/" onclick="moreurl(this,{i:'16',query:'',subject_id:'37136637',from:'music_subject_search'})" title="陈婧霏 - 猩红"  >
            <img src="https://img1.doubanio.com/view/subject/s/public/s35024300.jpg" alt="陈婧霏 - 猩红" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37136637/" onclick="moreurl(this,{i:'16',query:'',subject_id:'37136637',from:'music_subject_search'})" >
            猩红
                <span style="font-size:12px;">THE TRUTHCRIMSON</span>
       </a>

            <p class="pl">陈婧霏 / 2024-11-28 / 专辑 / 数字(Digital) / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar35"></span><span class="rating_nums">7.0</span>
                <span class="pl">
                    (
                            1582人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37136637"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="36966013">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/36966013/" onclick="moreurl(this,{i:'17',query:'',subject_id:'36966013',from:'music_subject_search'})" title="方大同 Khalil Fong - 梦想家 The Dreamer"  >
            <img src="https://img9.doubanio.com/view/subject/s/public/s34981875.jpg" alt="方大同 Khalil Fong - 梦想家 The Dreamer" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/36966013/" onclick="moreurl(this,{i:'17',query:'',subject_id:'36966013',from:'music_subject_search'})" >
            梦想家 The Dreamer
       </a>

            <p class="pl">方大同 Khalil Fong / 2024-10-18 / 专辑 / 数字(Digital) / 放克/灵歌/R&amp;B</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.6</span>
                <span class="pl">
                    (
                            12368人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_36966013"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="37136659">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/37136659/" onclick="moreurl(this,{i:'18',query:'',subject_id:'37136659',from:'music_subject_search'})" title="徐怀钰 YUKI - 光致‧蜕变"  >
            <img src="https://img9.doubanio.com/view/subject/s/public/s35040654.jpg" alt="徐怀钰 YUKI - 光致‧蜕变" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/37136659/" onclick="moreurl(this,{i:'18',query:'',subject_id:'37136659',from:'music_subject_search'})" >
            光致‧蜕变
       </a>

            <p class="pl">徐怀钰 YUKI / 2024-12-27 / 专辑 / CD / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar35"></span><span class="rating_nums">6.5</span>
                <span class="pl">
                    (
                            1337人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_37136659"></div>
        
        <p class="ul"></p>
        <table width="100%%">
            <tr class="item" id="36835298">
                <td width="100" valign="top">
        

        <a class="nbg" href="https://music.douban.com/subject/36835298/" onclick="moreurl(this,{i:'19',query:'',subject_id:'36835298',from:'music_subject_search'})" title="周深 - 反深代词"  >
            <img src="https://img9.doubanio.com/view/subject/s/public/s34865325.jpg" alt="周深 - 反深代词" style="width: 80px; max-height: 120px;" />
        </a>
        </td>
        <td valign="top">
        
        <div class="pl2">
        <a href="https://music.douban.com/subject/36835298/" onclick="moreurl(this,{i:'19',query:'',subject_id:'36835298',from:'music_subject_search'})" >
            反深代词
                <span style="font-size:12px;">SHENSELF</span>
       </a>

            <p class="pl">周深 / 2024-05-19 / 专辑 / 数字(Digital) / 流行</p>

        
        
                    <div class="star clearfix"><span class="allstar45"></span><span class="rating_nums">8.6</span>
                <span class="pl">
                    (
                            7680人评价
                    )
                </span></div>

        </div>
        </td>
        </tr>
        </table><div id="collect_form_36835298"></div>


      
    
    

    
        <div class="paginator">
        <span class="prev">
            &lt;前页
        </span>
        
        

                <span class="thispage" data-total-page="240">1</span>
                
            <a href="/tag/流行?start=20&amp;type=T" >2</a>
        
                
            <a href="/tag/流行?start=40&amp;type=T" >3</a>
        
                
            <a href="/tag/流行?start=60&amp;type=T" >4</a>
        
                
            <a href="/tag/流行?start=80&amp;type=T" >5</a>
        
                
            <a href="/tag/流行?start=100&amp;type=T" >6</a>
        
                
            <a href="/tag/流行?start=120&amp;type=T" >7</a>
        
                
            <a href="/tag/流行?start=140&amp;type=T" >8</a>
        
                
            <a href="/tag/流行?start=160&amp;type=T" >9</a>
        
            <span class="break">...</span>
                
            <a href="/tag/流行?start=4760&amp;type=T" >239</a>
        
            <a href="/tag/流行?start=4780&amp;type=T" >240</a>
        
        <span class="next">
            <link rel="next" href="/tag/流行?start=20&amp;type=T"/>
            <a href="/tag/流行?start=20&amp;type=T" >后页&gt;</a>
        </span>

        </div>


  </div>

        </div>
        <div class="aside">
                
  <br/>
  <div id="dale_music_tag_top_right"></div>

    
    <h2>
        相关的标签
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
    </h2>

    
  <div class="tags-list">
      <a href="/tag/台湾">台湾</a>
      <a href="/tag/国语">国语</a>
      <a href="/tag/Pop">Pop</a>
      <a href="/tag/女声">女声</a>
      <a href="/tag/老歌">老歌</a>
      <a href="/tag/欧美">欧美</a>
      <a href="/tag/女歌手">女歌手</a>
      <a href="/tag/华语">华语</a>
  </div>


  
  <form name="tsp_form" action="/tag/" method="GET">
    <input name="search_text" class="j a_search_text" type="text" size="24" maxlength="36" title="去其他标签" value=""/>
    <input class="butt" type="submit" value="进入"/>
  </form>
  <br/>
  <br/>


  <p class="pl2 mb30">
    &gt; <a href="/tag/">浏览全部音乐标签</a>
  </p>


  




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '',
            browserId = 'oNYiseNQpjU',
            criteria = '3:/tag/流行',
            preview = '',
            debug = false,
            adSlots = ['dale_music_tag_top_right'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', '//img1.doubanio.com/NWQ3bnN2eS9mL2FkanMvYjFiN2ViZWM0ZDBiZjlkNTE1ZDdiODZiZDc0NzNhNjExYWU3ZDk3My9hZC5yZWxlYXNlLmpz?company_token=kX69T8w1wyOE-dale');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>








        </div>
        <div class="extra">
            
        </div>
    </div>
</div>

        
<div id="footer">
    
<span id="icp" class="fleft gray-link">
    &copy; 2005－2025 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=music" target="_blank">帮助中心</a>
    · <a href="https://fm.douban.com/app">手机音乐</a>
</span>

</div>

    </div>
    

    <!-- COLLECTED JS -->
    
  <script>
    $(function () {
      function update_tags(current) {
        html = $.map(current, function(o) {return '<span class="tags-name">' + o + '</span><sup class="tags-del"></sup> '}).join('<span class="tags-add">+</span>');
        $('h1').html('<span class="name">音乐标签：</span>' + html);
      };

      function get_current_tags() {
        var r = [];
        $('.tags-name').each(function() {r.push($(this).text())});
        return r;
      };

      function get_current_sort_type() {
        url = location.href;
        array = url.split("?")
        if (array.length == 1) {
          return "";
        }
        query = array[1];
        arr = query.split("&");
        for (var i = 0; i < arr.length; i++) {
          arr2 = arr[i].split('=');
          if (arr2[0] == "type") {
            if (arr2.length == 1) {
              return "";
            }
            return arr2[1];
          }
        }
        return "";
      };

      function update_subject_list(current, sort_type) {
        $('#subject_list').html('<span class="pl">载入中，请稍候...</span>');
        $('#subject_list').load_withck('/j/tag/j_subject_list', {tags:current.join(' '), type:sort_type}, function() {});
      };

      function update_related_tags_and_subject(current, sort_type) {
        update_related_tags(current, sort_type);
        // update_subject_list(current, sort_type);
      };

      function update_related_tags(current, sort_type) {
        $('#related_tags').load_withck('/j/tag/j_related_tag', {tags:current.join(' '), type:sort_type}, function() {
          $('.more').toggle(
            function () {
              $('.tags-hide').css('display', 'inline');
              $(this).text('收起▲');
            },
            function () {
              $('.tags-hide').hide();
              $(this).text('更多▼');
            }
          );
          $('.tags-del').click(function () {
            if($(this).prev().prev().text() == '+') {
              $(this).prev().prev().remove();
            } else if ($(this).next().text() == '+') {
              $(this).next().remove();
            }
            $(this).prev().remove().end().remove();
            current = get_current_tags();
            if (current.length == 0){
              document.location.href = '/tag/';
            } else {
              //setHash(current.join(' '));
              //location.href = '/tag/' + (location.href).split('#')[1] + '?type=' + sort_type;
              sort_type = get_current_sort_type();
              location.href = '/tag/' + current.join(' ') + '?type=' + sort_type;
            }
          });
          $('.add-tag').click(function () {
            current = get_current_tags();
            current.push($(this).text());
            update_tags(current);
            //setHash(current.join(' '));
            //location.href = '/tag/' + (location.href).split('#')[1] + '?type=' + sort_type;
            sort_type = get_current_sort_type();
            location.href = '/tag/' + current.join(' ') + '?type=' + sort_type;
          });
          $('.tagsInput').keypress(function (e) {
            if (e.which == 13) {
              current = get_current_tags();
              current.push($(this).val());
              update_tags(current);
              sort_type = get_current_sort_type();
              //setHash(current.join(' '));
              //location.href = '/tag/' + (location.href).split('#')[1] + '?type=' + sort_type;
              location.href = '/tag/' + current.join(' ') + '?type=' + sort_type;
            }
          });
          checkInput($('.tagsInput'));
        });
      };

      current = get_current_tags();
      sort_type = get_current_sort_type();
      update_related_tags_and_subject(current, sort_type);

      function checkInput (o) {
        if (!o.val() || o.val() == o.attr('title')) {
          o.addClass('greyinput');
          o.val(o.attr('title'));
        }
        o.focus(function(){
          o.removeClass('greyinput');
          if(o.val() == o.attr('title')) o.val('');
        });
        o.blur(function(){
          if(!o.val()){
            o.addClass('greyinput');
            o.val(o.attr('title'));
          }
        });
      }

      if($.browser.msie && $.browser.version == 6.0) {
        $('.tags-del').hover(
          function () { $(this).addClass('tags-hover'); },
          function () { $(this).removeClass('tags-hover'); }
        );
      }
      if (location.href.split('#').length > 1) {
        //changeUrl ();
      }

  });

  function setHash (a) {
    $.browser.msie?$.locationHash(a):location.hash = a;
  }
  </script>

    
    









<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5WP579" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5WP579');</script>
<!-- End Google Tag Manager -->


<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7019765-1']);
_gaq.push(['_setCampNameKey', 'dcn']);
_gaq.push(['_setCampSourceKey', 'dcs']);
_gaq.push(['_setCampMediumKey', 'dcm']);
_gaq.push(['_setCampTermKey', 'dct']);
_gaq.push(['_setCampContentKey', 'dcc']);
_gaq.push(['_addOrganic', 'baidu', 'word']);
_gaq.push(['_addOrganic', 'soso', 'w']);
_gaq.push(['_addOrganic', '3721', 'name']);
_gaq.push(['_addOrganic', 'youdao', 'q']);
_gaq.push(['_addOrganic', 'so.360.cn', 'q']);
_gaq.push(['_addOrganic', 'vnet', 'kw']);
_gaq.push(['_addOrganic', 'sogou', 'query']);
_gaq.push(['_addIgnoredOrganic', '豆瓣']);
_gaq.push(['_addIgnoredOrganic', 'douban']);
_gaq.push(['_addIgnoredOrganic', '豆瓣网']);
_gaq.push(['_addIgnoredOrganic', 'www.douban.com']);
_gaq.push(['_setDomainName', '.douban.com']);


    _gaq.push(['_setCustomVar', 1, 'responsive_view_mode', 'desktop', 3]);

_gaq.push(['_trackPageview']);
_gaq.push(['_trackPageLoadTime']);

window._ga_init = function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
};
if (window.addEventListener) {
    window.addEventListener('load', _ga_init, false);
} else {
    window.attachEvent('onload', _ga_init);
}
</script>





    <!-- dae-web-music--default-6566dcf854-shqqv-->

  <script>_SPLITTEST=''</script>
</body>

</html>



